<%# Ensure that users who are not authenticated see a welcome message and a link to authenticate. No other pages should be viewable by the guest user %>
<h1> Welcome! </h1>
<%= link_to "Log in with GitHub", "/auth/github" %>
